<section class="section">
  <h1 class="title">
    {{lang.title}}
  </h1>
  <p class="subtitle">
    {{#if username}}
      Welcome to {{username}}
    {{/if}}
  </p>
  <div class="container">
    {{> entries}}
  </div>
</section>