<form action="/login" method="post">
  <label for="username">{{lang.auth.username}}: </label>
  <input type="text" name="username" id="username">
  <label for="password">{{lang.auth.password}}: </label>
  <input type="text" name="password" id="password">
  <input type="submit" value="{{lang.auth.login}}">
</form>