<h1>{{title}}</h1>
{{> entries}}
<form method="post">
  <label for="body">{{lang.entry.entry}}</label>
  <input type="text" name="body" id="body">
  <input type="submit" value="{{lang.entry.send}}">
</form>