{{#if error}}
  <div class="columns p-5">
    <div class="column">
      <h1 class="title has-text-centered"> 😞 {{error.message}}</h1>
    </div>
  </div>
{{else}}
  <div class="columns">
    <div class="column is-justify-content-space-between is-flex">
      <h1 class="title">{{username}}</h1>
      {{#if ownprofile}}
        <a href="/logout" class="button is-primary">{{lang.auth.logout}}</a>
      {{/if}}
    </div>
  </div>
  {{> entries}}
{{/if}}